/* Themes: http://kuler.adobe.com/#themeID/1404559 */
@import url(http://fonts.googleapis.com/css?family=Mako);

html {
	min-width: 1100px;
	background-color: #7C868A;
}

body {
	margin: 0;
    line-height: 1.5;
}

#doc3 {
	margin: 0;
}


/* REGIONS ========================================================================================================== */

#outerHdSubhd {
    padding-bottom: 30px;
    background-color: #EEE;
	font-size: 123.1%;
	list-style-type: none;
}

#innerHdSubhd {
	-moz-box-shadow: 0 2px 5px #666;
	-webkit-box-shadow: 0 2px 5px #666;
	box-shadow: 0 2px 5px #666;
}

#hd, #subhd, #bd, #ft {
	font-family: Mako, sans-serif;
	font-size: 116%;
}

#hd {
	padding: 15px 20px 10px;
	background-color: #537A8A;
	color: #FFF;
}

#hdTitle {
	position: relative;
	left: 2px;
	width: 140px;
	height: 17px;
	/*background: url(images/sip-title.png) no-repeat;*/
}

#hdAppName {
	font-size: 250%;
}

#subhd {
    border-top: 1px solid #333;
    padding: 1px 0;
    background-color: #333;
	background: -moz-linear-gradient(100% 100% 90deg, #333, #555);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#333));
	font-size: 15px;
    color: #EEE;
    line-height: 1.0;
}

#subhd a {
    color: #FFF;
}

#subhd input[type="submit"] {
	padding: 1px 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#topNav {
line-height: 1.0;
}

#topNav ul {
	margin: 0;
	border: 0;
	padding: 11px 0;
	font-size: 0px;
}

#topNav li {
	margin: 0;
	border: 0;
	display: inline;
	list-style-type: none;
	font-size: 15px;
}

#topNav a {
	border: 0;
	border-left: 1px solid #555;
	border-right: 1px solid #333;
	padding: 10px 20px;
	text-decoration: none;
}

#sessionInfo {
	padding: 10px 20px;
	text-align: right;
}

.regionInner {
	width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

#bd {
	padding: 1px 0 40px;
	background-color: #F8F8F8;
	font-size: 123.1%;
	color: #333;
}

ul#breadcrumbs {
	margin: 0;
	font-size: 85%;
}

ul#breadcrumbs > li {
	display: inline;
	list-style-type: none;
}

ul#breadcrumbs > li:after {
	content: " \2192 ";
}

#ft {
	border-top: 4px solid #505759;
	text-align: left;
	color: #E5F8FF;
}

#ft h2, #ft a {
	color: #FFF;
}

#aboutRecipe {
}

#bookImg {
	-moz-box-shadow: 0 2px 5px #333;
	-webkit-box-shadow: 0 2px 5px #333;
	box-shadow: 0 2px 5px #333;
}

#bookLinks {
    text-align: right;
}

#legal {
	margin: 40px 0;
    text-align: center;
}

#hidden {
  display: none;
}

/* HEADERS ========================================================================================================== */

h1 {
    margin: 0 0 10px;
	color: #333;
}


/* LINKS ============================================================================================================ */

a {
	color: #1C6A8A;
}


/* LISTS ============================================================================================================ */

ol li {
	list-style: decimal;
}

ul li {
	list-style: disc;
}


/* TABLES =========================================================================================================== */

.tableActionBar {
	margin: 20px 0 5px;
}

table {
	width: 80%;
}

div#remn > table > thead > tr > th {
	border: none;
	background: #fff;
	text-align: left;
	font-weight: bold;
	color: #000;
}

div#remn > table > tbody > tr > td {
	border-left:none;
	border-right:none;
}

th {
	border-left: 1px solid #555;
	border-right: 1px solid #333;
	background-color: #333;
	background: -moz-linear-gradient(100% 100% 90deg, #333, #555);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#333));
	text-align: left;
	font-weight: normal;
	color: #EEE;
}

td {
	/*background-color: #FFF;*/
	font-size: 100%;
	line-height: 1,9;
	padding: 0px 10px 0px 10px;
	border: 1px solid #DDD;
}

tr > td:first-child {
	border-left: 1px solid #DDD;
}

tr > td:last-child {
	border-right: 1px solid #DDD;
}

tr#reliable > td.stats {
	background-color: #d5ffd5;
}

tbody > tr#reliable:nth-child(even) > td.stats {
	background-color: #e1f8dc;
}

tr#unreliable > td.stats {
	background-color: #ffffcc;
}

tbody > tr#unreliable:nth-child(even) > td.stats {
	background-color: #f5f3d6;
}

tr#banned > td.stats {
	background-color: #ffbfbf;
}

tbody > tr#banned:nth-child(even) > td.stats {
	background-color: #f7c9c8;
}

tbody > tr:nth-child(odd){
	background: #fff;
}

tbody > tr:nth-child(even){
	background: #eee;
}

tbody{
	border-bottom: 1px solid #DDD;
}

table.sortable .header {
	cursor: pointer;
}

table.sortable .headerSortUp, table.sortable .headerSortDown {
	padding-left: 22px;
	background-color: #555;
	background-repeat: no-repeat;
	background-position: 2px center;
}

table.sortable .headerSortUp {
	background-image: url(icons/sort-alphabet-descending.png);
}

table.sortable .headerSortUp.date {
	background-image: url(icons/sort-date-descending.png);
}

table.sortable .headerSortUp.numeric {
	background-image: url(icons/sort-number-descending.png);
}

table.sortable .headerSortDown {
	background-image: url(icons/sort-alphabet.png);
}

table.sortable .headerSortDown.date {
	background-image: url(icons/sort-date.png);
}

table.sortable .headerSortDown.numeric {
	background-image: url(icons/sort-number.png);
}
/* FORMS ============================================================================================================ */

input, textarea, button {
	border: 0;
	padding: 2px;
	background-color: #FFF;
	font-family: Mako, sans-serif;
}

input[type="submit"], input[type="reset"], input[type="button"], button {
	border: 1px solid #73AABF;
	padding: 3px 10px;
	background-color: #537A8A;
	background: -moz-linear-gradient(100% 100% 90deg, #537A8A, #6393A6);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6393A6), to(#537A8A));
	font-weight: normal;
	color: #FFF;
	cursor: pointer;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0 0 4px #222;
	-webkit-box-shadow: 0 0 4px #222;
	box-shadow: 0 0 4px #222;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover {
	background-color: #6291A3;
	background: -moz-linear-gradient(100% 100% 90deg, #6291A3, #73AABF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#73AABF), to(#6291A3));
}

input.short {
	width: 240px;
}

input.medium {
	width: 320px;
}

select.medium {
	width: 320px;
}

input.long, textarea {
	width: 320px;
}

textarea {
	height: 200px;
}

input:focus, textarea:focus {
	background-color: #FFC;
}

input.error, textarea.error {
	border: 2px solid #C33;
}

.fieldLabel {
	text-align: right;
}

.errorMessage {
	padding-left: 20px;
	background: url(icons/error.png) left no-repeat;
}

/* Login form */
form[name="f"] table td {
	border: 0;
	background-color: #F8F8F8;
}

/* Login form */
form[name="f"] input {
	border: 1px solid #BBB;
}

/* Login form */
form[name="f"] input[type="submit"], form[name="f"] input[type="reset"] {
	border: 1px solid #6393A6;
}


/* GRIDS ============================================================================================================ */

.grid {
}

.grid > .gridRow {
	margin: 20px 0;
}

.grid > .gridRow:first-child {
	margin: 0 0 20px;
}

.grid > .gridRow:last-child {
	margin: 20px 0 0;
}


/* COMPONENTS ======================================================================================================= */

.panel {
	margin: 20px 0;
	padding: 30px 20px;
	background-color: #333;
	background: -moz-linear-gradient(100% 100% 90deg, #555, #333);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#555));
	color: #EEE;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0 2px 5px #666;
	-webkit-box-shadow: 0 2px 5px #666;
	box-shadow: 0 2px 5px #666;
}

.panel a {
	color: #FFF;
}

.pane {
	margin: 20px 0;
	border: 1px solid #CCC;
	padding: 20px;
	background-color: #FFF;
	color: #333;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

ul.actionBar {
	margin: 20px 0;
	padding: 5px 15px;
	background-color: #333;
	background: -moz-linear-gradient(100% 100% 90deg, #333, #555);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#333));
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0 2px 5px #666;
	-webkit-box-shadow: 0 2px 5px #666;
	box-shadow: 0 2px 5px #666;
}

ul.actionBar > li:first-child {
	margin-left: 0;
}

ul.actionBar > li {
	margin-left: 15px;
	display: inline;
	list-style-type: none;
}

ul.actionBar a {
	color: #EEE;
}

.alert {
	margin: 30px 0;
	padding: 20px 20px 20px 40px;
	background-position: 15px 24px;
	background-repeat: no-repeat;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0 2px 5px #666;
	-webkit-box-shadow: 0 2px 5px #666;
	box-shadow: 0 2px 5px #666;
}

.info.alert {
	background-color: #627C16;
	background-image: url(icons/tick.png);
	color: #EEE;
}

.info.alert a {
	color: #FFF;
}

.warning.alert, .error.alert {
	background-color: #E8D963;
	background-image: url(icons/error.png);
	color: #333;
}

.photoPanel {
	margin: 20px 0;
}

.photoItem {
}

.photoItemPhoto {
	height: 160px;
	background-color: #999;
	background: -moz-linear-gradient(100% 100% 90deg, #CCC, #999);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#CCC));
	text-align: center;

	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	border-top-left-radius: 20px;

	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	border-top-right-radius: 20px;
}

.photoItemPhoto img {
	margin: 16px 0;
}

.photoItemTitle {
	margin-top: 1px;
	background-color: #333;
	background: -moz-linear-gradient(100% 100% 90deg, #333, #555);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#333));
	text-align: center;
	font-weight: normal;
	color: #EEE;
}

.photoItemText {
	margin: 10px 0 0 0;
}


/* ICONS ============================================================================================================ */

.icon {
	padding-left: 20px;
	background-position: left;
	background-repeat: no-repeat;
}

.icon.accept { background-image: url(icons/accept.png); }
.icon.add { background-image: url(icons/add.png); }
.icon.building { background-image: url(icons/building.png); }
.icon.buildingArrow { background-image: url(icons/building_arrow.png); }
.icon.buildingPlus { background-image: url(icons/building_plus.png); }
.icon.cancel { background-image: url(icons/cancel.png); }
.icon.cln { background-image: url(icons/cln.png);}
.icon.clnArrow{ background-image: url(icons/cln_arrow.png);}
.icon.clnExclamation{ background-image: url(icons/cln_exclamation.png);}
.icon.clnPencil{ background-image: url(icons/cln_pencil.png);}
.icon.clnPlus { background-image: url(icons/cln_plus.png);}
.icon.commentAdd { background-image: url(icons/comment_add.png); }
.icon.commentDelete { background-image: url(icons/comment_delete.png); }
.icon.commentEdit { background-image: url(icons/comment_edit.png); }
.icon.comments { background-image: url(icons/comments.png); }
.icon.compress { background-image: url(icons/compress.png); }
.icon.date { background-image: url(icons/date.png); }
.icon.document { background-image: url(icons/document.png); }
.icon.email { background-image: url(icons/email.png); }
.icon.table { background-image: url(icons/table.png); }
.icon.mobilePhone { background-image: url(icons/mobile-phone.png); }
.icon.moneyEu { background-image: url(icons/eu.png); }
.icon.moneyGb { background-image: url(icons/gb.png); }
.icon.moneyRu { background-image: url(icons/ru.png); }
.icon.moneyUa { background-image: url(icons/ua.png); }
.icon.moneyUs { background-image: url(icons/us.png); }
.icon.currency { background-image: url(icons/currency.png); }
.icon.moneyCoin { background-image: url(icons/money-coin.png); }
.icon.handShake { background-image: url(icons/hand-shake.png); }
.icon.moneyBag { background-image: url(icons/money-bag.png); }
.icon.moneyPlus { background-image: url(icons/money-plus.png); }
.icon.user { background-image: url(icons/user.png); }
.icon.userGray { background-image: url(icons/user_gray.png); }
.icon.userAdd { background-image: url(icons/user_add.png); }
.icon.userDelete { background-image: url(icons/user_delete.png); }
.icon.userEdit { background-image: url(icons/user_edit.png); }
.icon.vcard { background-image: url(icons/vcard.png); }
.icon.vcardAdd { background-image: url(icons/vcard_add.png); }
.icon.vcardDelete { background-image: url(icons/vcard_delete.png); }
.icon.vcardEdit { background-image: url(icons/vcard_edit.png); }
.icon.world { background-image: url(icons/world.png); }

#mainContainer{
	background-color:#eee;
	display:block;
	font-family: Mako, sans-serif;
	font-size: 123.1%;
	padding-bottom: 30px;
}.hasLeftCol 

#leftCol{
	display:block;
	float:left;
	position:relative;
	font-size: 80%;
	height:100%;
}.hasLeftCol 

#leftCol li{
	list-style-type: none;
}

#leftCol a{
	text-decoration: none;
}

#contentCol{background-color:#EEE;padding-top:15px}.hasLeftCol 

#my{
	border: 1px solid #73AABF;
	padding: 3px 10px;
	background-color: #537A8A;
	background: -moz-linear-gradient(100% 100% 90deg, #537A8A, #6393A6);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6393A6), to(#537A8A));
	font-weight: normal;
	color: #FFF;
	cursor: pointer;
	list-style-type: none;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0 0 4px #222;
	-webkit-box-shadow: 0 0 4px #222;
	box-shadow: 0 0 4px #222;
	
	font-family: Mako, sans-serif;
	font-size: 116%;
}

/* ===================== modal ============================= */

/* Стили модального окна */
.modal-header h2 {
    color: #555;  
    font-size: 20px;
    font-weight: normal;
    line-height: 1;    
    margin: 0;
}
/* кнопка закрытия окна */
.modal .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.modal .btn-close:hover {
    color: red;
}
/* слой затемнения */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* элементы модального окна */
.modal-dialog {
    background: #fefefe;
    border: #555555 solid 1px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: -100%;
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    width: 60%;
    max-width: 500px;
    z-index: 103;
}
.modal-body {
  padding: 20px;
}
.modal-body p {
    margin: 0;
}
.modal-header,
.modal-footer {
    padding: 20px 20px;
}
.modal-header {
    border-bottom: #eaeaea solid 1px;
}
.modal-header h2 {
    font-size: 20px;
    margin: 0;
}
.modal-footer {
    border-top: #eaeaea solid 1px;
    text-align: right;
}
/* адаптивные картинки в модальном блоке */
.modal-body img { 
    max-width: 100%;
    height: auto;
}
/* кнопки */
.btn {
    background: #fff;
    border: #555 solid 1px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
}
.btn:hover, .btn:focus {
    background: #f2f2f2;
}
.btn-primary {
    background: #428bca;
    border-color: #357ebd;
    color: #fff;
}
.btn-primary:hover{
    background: #66A1D3;
}

/* Элементы формы контактов */
.textbox{
    height:45px;
    width:60%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 1px solid;
    box-sizing:border-box;
    font-size:14px; 
    padding:8px;
    margin-bottom:20px;  
}
.message:focus,
.textbox:focus{
    outline:none;
    border:rgba(24,149,215,1) 1px solid;
    color:rgba(24,149,215,1);
}
.message{
	background: rgba(255, 255, 255, 0.4); 
    width:60%;
    height: 120px;
    border:rgba(0,0,0,.3) 1px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-size:14px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    display:block;
    padding:10px;
    margin-bottom:20px;
    overflow:hidden;
}
/* кнопка "отправить" формы */
.btn-form{
    width:100%;
    height:45px;  
    border:rgba(0,0,0,.2) 1px solid;
    box-sizing:border-box;
    background: #dedede;
    color:#555;
    transition:background .4s;
}
/* Изменение фона кнопки при наведении */
.btn-form:hover{
    background: #f2f2f2;
}

div.pq-grid *
{
    font-size:12px;    
}
button.delete_btn
{
    margin:-2px 0px;
}
button.edit_btn
{
    margin:-3px 0px;
}
tr.pq-grid-row td
{
    color:#888;
}
tr.pq-row-edit > td
{
    color:#000;
}
tr.pq-row-delete
{
    text-decoration:line-through;         
}
tr.pq-row-delete td
{
    background-color:pink;   
}

/* editor ================================================================ */
#content fieldset.column { display: block; height: 100%; width: 50%; }

#content .window { width: 60%; border: 1px solid #C0C0C0; box-shadow: inset 0 1px 2px #e4e4e4; }

#content .top { height: 25%; position: absolute; top: -6px; }

#content .bottom { height: 75%; position: absolute; bottom: -6px; }

#content .right { position: absolute; right: -5px; }

/* #content .left { position: absolute; left: -5px; } */

#handler_vertical { width: 8px; height: 100%; padding: 5px 0; cursor: col-resize; position: absolute; top: -5px; left: 0; background: url(../img/handle-v.png) 3px 50% no-repeat; }

.handler_horizontal { width: 100%; height: 8px; padding: 0 1px; cursor: row-resize; position: absolute; top: 0; left: 0; background: url(../img/handle-h.png) 50% 3px no-repeat; }

#content textarea, #result iframe, body.editbox { min-width: 100px; width: 100%; height: 100%; line-height: 15px; font-family: "Monaco", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace; font-size: 12px; }